/* Grundstruktur für das Header-Element */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    gap: 50px;
    position: fixed;  /* Fixiert den Header */
    top: 0;  /* Setzt den Header an die Oberseite */
    left: 0;  /* Setzt den Header ganz nach links */
    width: 100%;  /* Sorgt dafür, dass der Header die gesamte Bildschirmbreite einnimmt */
    z-index: 1000;  /* Stellt sicher, dass der Header über anderen Inhalten liegt */
}

/* Header Container (Logo + Text) */
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}

/* Bild im ersten Container */
.logo {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

/* Text im ersten Container */
h1 {
    margin: 0;
    text-align: left;
}

/* Header Container (Buttons) */
.container2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}

/* Styling für die Navigations-Buttons */
.container2 button {
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

/* Unterer Strich, der beim Hover sichtbar wird */
.container2 button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

/* Hover-Effekt für den Strich */
.container2 button:hover::after {
    width: 100%;
}

/* Einkaufswagen-Button */
.cart-button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart-button img {
    max-width: 30px;
    height: auto;
}

.cart-button:hover img {
    filter: brightness(0.8);
}

/* Modales Warenkorb Fenster Start*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 25px;
    width: 50%;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal.show {
    display: block;
}
/* Modales Warenkorb Fenster End*/

/* Profil Button */
.profile-button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.profile-button img {
    max-width: 30px;
    height: auto;
}

.profile-button:hover img {
    filter: brightness(0.8);
}

/* Modales Profil Fenster Start*/
.profile-modal {
  position: fixed;
  bottom: 0;
  right: -15vw; /* Startet außerhalb */
  width: 15vw;
  height: 100vh;
  background: black;
  color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
}

/* Sichtbar */
.profile-modal.show {
  right: 0;
}

/* Versteckt */
.hidden {
  display: none;
}

/* Buttons im Modal */
.profile-btn {
  background: black;
  color: white;
  padding: 10px 30px;
  border: 3px solid white;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2em;
  width: 90%;
}

.profile-btn:hover {
    color: green;
    border: 3px solid green;
}
/* Profil Modal End */

/* Login Modal Start */
.loginOrRegister {
    position: fixed;
    top: 50%;
    left: -40vw; /* Startpunkt außerhalb des Bildschirms */
    width: 40vw;
    height: 40vh;
    background: black;
    color: white;
    border: 4px solid white; /* Setze den Rand auf transparent */
    transition: left 0.5s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    transform: translate(-50%, -50%);
    box-sizing: border-box; /* Sicherstellen, dass der Rand korrekt berücksichtigt wird */
}

  /* Sichtbar */
.loginOrRegister.show {
    left: 50%;
}
  
/* Buttons im Modal */
.loginOrRegister button {
    background: black;
    color: white;
    padding: 10px 30px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px;
    font-size: 1.2em;
}
  
.loginOrRegister button:hover {
    color: green;
    border: 3px solid green;
}

.login-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.login-section, .register-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-content h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.login-content input {
    width: 80%;
    padding: 8px;
    border: 2px solid white;
    background: black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.login-content button {
    background: black;
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

.login-content button:hover {
    color: green;
    border-color: green;
}

.divider {
    width: 2px;
    background: white;
    height: 100%;
}

.forgotPass {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: underline;
    border-radius: 5px;
    border: 2px solid white;
}

.forgotPass:hover {
    border-color: green;
    color: green;
}
/* Login Modal End */

/* Footer Styling */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
}

/*############################################   Seiten Inhalt   ##########################################################*/
main {
    padding-top: 10%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("/shop/icons/samen_background.png");
    background-size: cover;
    background-position: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
}

.hero h1 {
    font-size: 3em;
    text-decoration: underline;
}

.header {
    text-align: center;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 10px 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Abstand zwischen den Buttons */
    padding: 10px 20px;
    align-items: stretch;
}

.menu button {
    padding: 10px 70px; /* Entfernt feste Breite durch Padding */
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 5px solid black;
    width: 100%; /* Alle Buttons nehmen die gesamte Breite ein */
    justify-content: center; /* Zentriert den Text */
    align-items: center;
}

.menu button:hover {
    color: green;
    border-color: green;
}

.menu button.active {
    color: green;
    border-color: green;
}

.divider-horizontal {
    width: 100%;  /* Volle Breite */
    height: 5px;  /* Dünne Linie */
    background-color: black;
}

.divider-vertical {
    width: 5px;
    height: auto;  /* Automatische Höhe */
    background-color: black;
    align-self: stretch;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Abstand zwischen den Buttons */
    padding: 0px 20px;
    align-items: center;
    width: 80%;
    height: 54vh;
}

/*#########################################   Responsive Styles   #############################################*/
@media (max-width: 1200px) {
    .container1, .container2 {
        margin-left: 60px;
        margin-right: 60px;
    }
    .logo {
        max-width: 80px;
    }
    h1 {
        font-size: 1.5em;
    }
    button {
        font-size: 14px;
    }
    .shop-button {
        padding: 12px 24px;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .container1, .container2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .bestseller-container {
        flex-direction: column;
    }
    .modal-content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 60px;
    }
    h1 {
        font-size: 1.2em;
    }
    .shop-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
    .info-box {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Styles for very large screens */
@media (min-width: 1600px) {
    .container1, .container2 {
        margin-left: 200px;
        margin-right: 200px;
    }
    .logo {
        max-width: 120px;
    }
    h1 {
        font-size: 2em;
    }
    button {
        font-size: 18px;
    }
    .shop-button {
        padding: 20px 40px;
        font-size: 1.5em;
    }
    .modal-content {
        width: 40%;
    }
    .info-box {
        max-width: 1000px;
    }
}